.caro1 {
  height: 100vh;
  width: 100%;
  background-color: yellowgreen;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
  position: relative;
}

.caro1-title {
  position: absolute;
  top: 10%;
  color: white;
}

.caro1-div {
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-drag: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}
